.*
!.clang-format
*.o
*.a
*.pyc
*.pyo
*~
\#*
src/zmap
src/zopt.h
src/zopt.c
src/zbopt.h
src/zbopt.c
src/zitopt.c
src/zitopt.h
src/topt.c
src/topt.h
src/ztopt.c
src/ztopt.h
src/*.ggo
src/zblacklist
src/ztee
src/ziterate
lexer.c
lexer.h
parser.c
parser.h
*.deb
!.gitignore
!.travis.yml
cmake_installer.sh
CMakeFiles
*.cmake
Makefile
CMakeCache.txt
install_manifest.txt
_CPack_Packages/*
src/ztests
