Source: zmap
Section: net
Priority: optional
Maintainer: Phillip Stephens <phillip@cs.stanford.edu>
Build-Depends: byacc,
               cmake (>= 3.5.0),
	       debhelper-compat (= 13),
               flex,
               gengetopt,
               libgmp3-dev,
               libjson-c-dev,
               libpcap-dev,
               libunistring-dev,
               libjudy-dev,
Standards-Version: 3.9.6
Homepage: https://zmap.io/
Vcs-Git: git://anonscm.debian.org/collab-maint/zmap.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/zmap.git;a=summary

Package: zmap
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: network scanner for researchers
 ZMap is a network scanner that enables researchers to
 easily perform Internet-wide network studies. With a single
 machine and a well provisioned network uplink, ZMap is capable of
 performing a complete scan of the IPv4 address space in under 45
 minutes, approaching the theoretical limit of gigabit Ethernet.
 .
 ZMap can be used to study protocol adoption over time, monitor
 service availability, and help people better understand large systems
 distributed across the Internet.
