Source: zmap
Section: unknown
Priority: optional
Maintainer: Phillip Stephens <phillip@cs.stanford.edu>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/zmap
#Vcs-Git: https://salsa.debian.org/debian/zmap.git

Package: zmap
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
