name: CMake-FreeBSD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  ENABLE_DEVELOPMENT: ON
  ENABLE_LOG_TRACE: ON

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@v1
        with:
          envs: 'ENABLE_DEVELOPMENT ENABLE_LOG_TRACE'
          usesh: true
          prepare:  |
            freebsd-update fetch
            freebsd-update install
            pkg install -y judy byacc cmake flex gengetopt gmp json-c libunistring influxpkg-config libdnet python3
          run: |
            cd work/zmap/zmap
            cmake -DENABLE_DEVELOPMENT=${{env.ENABLE_DEVELOPMENT}} -DENABLE_LOG_TRACE=${{env.ENABLE_LOG_TRACE}} .
            make
            python3 ./scripts/check_manfile.py
